@use '../../../../styles/_globals.scss' as *;

:host {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  height: 100%;

  @include mq(xs, max) {
    overflow-x: hidden;
  }

  &.isScrolled {
    border-top: 1px solid var(--extra-border-color);
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  box-sizing: border-box;
  padding: var(--s3);
  padding-top: 0;
  gap: var(--s2);

  @media (max-width: 1399px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (max-width: 899px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: var(--s2);
  }

  @include mq(xs, max) {
    grid-template-columns: 1fr;
  }
}
